.maindiv{
    margin-left: 25%; 
} 
.selectdate_div{
    cursor: pointer;
    height: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: white;
    font-size: 20px;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    padding: 12%;
}

